* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #d7fbd4;
  --app-background: #d7fbd4;
  --income: #afd91a;
  --expense: #ff535f;
  --text: #5a5a5a;
  --text-secondary: #a9a9a9;
  --placeholder: #dddcdc;
  --background: #fcfcfc;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: var(--app-background);
}

#app-container {
  max-width: 1440px;
  margin: 0 auto;
}

#app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 100%;
  padding: 60px 90px;
  opacity: 0;
  animation: show 1s forwards;
}

#app-header h1 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--income);
  position: relative;
}

#app-header h1::before {
  display: block;
  content: "";
  width: 60px;
  height: 60px;
  background: url("./wallet-solid.svg");

  position: absolute;
  left: -60px;
}

#app-header h2,
#app-header span {
  font-size: 2.25rem;
  font-weight: 600;
}

.balance-positive {
  color: var(--income);
}

.balance-negative {
  color: var(--expense);
}

#entries-form {
  opacity: 0;
  animation: showLeft 0.75s forwards;
}

#entries-form,
#entries-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  max-width: 100%;
  margin: 0 auto;
}

#entries-form input::placeholder {
  font-size: 2.25rem;
  color: var(--placeholder);
}

#entries-form input,
#entries-form select,
#entries-form button {
  display: flex;
  max-width: 100%;
  place-content: center;
  padding: 20px 30px;

  font-size: 2rem;
  border: none;
  border-radius: 15px;
}

#entries-form input:focus,
#entries-form select:focus {
  outline: none;
}

input#form-description {
  width: 750px;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 100px var(--background) inset;
}

input#form-value {
  width: 150px;
}

select#form-type {
  width: 120px;
  padding: 5px 10px;
}

button {
  transition: transform 0.275s ease-in-out;
}

button:hover {
  transform: scale(1.35);
}

button#submit {
  background: inherit;
  width: 100px;
  color: var(--text);
  cursor: pointer;
}

#entries-container {
  display: flex;
  flex-direction: column;
  width: 1100px;
}

#message {
  width: fit-content;

  font-size: 2.175rem;
  font-weight: 600;
  text-align: center;
  color: #fff;

  background-color: var(--expense);
  padding: 10px 30px;
  border-radius: 15px;
  margin: 30px auto;
  opacity: 0;
  transition: opacity 0.175s ease-in;
}

.entry {
  display: grid;
  grid-template-columns: 5fr 2fr 0.5fr;
  place-items: center;
  padding: 20px;
  height: fit-content;
  background: var(--background);
  border-radius: 15px;
  opacity: 0;
  animation: showLeft 0.75s forwards;
}

.entry h3 {
  color: var(--text);
  font-size: 2.25rem;
  justify-self: start;
  max-width: 30ch;
  word-break: break-all;
}

.entry small {
  color: var(--text-secondary);
  font-size: 1.15rem;
  grid-row: 2;
  justify-self: start;
  align-self: flex-start;
}

.value {
  max-width: 6ch;
  word-break: break-all;
}

.value,
.delete-entry {
  font-size: 2.25rem;
  grid-row: span 2;
}

.expense-value {
  color: var(--expense);
}

.income-value {
  color: var(--income);
}

.delete-entry {
  background: inherit;
  color: var(--expense);
  border: none;

  cursor: pointer;
}

@media (max-width: 1200px) {
  #app-container {
    max-width: 1000px;
  }

  #app-header {
    padding: 30px;
  }
}

@media (max-width: 1000px) {
  #app-container {
    max-width: 800px;
  }

  #app-header {
    display: grid;
    padding: 20px;
  }
}

@media (max-width: 800px) {
  #app-container {
    max-width: 75vw;
  }

  #app-header {
    display: grid;
    padding: 20px;
  }

  #app-header h1 {
    font-size: 2rem;
  }

  #app-header h1::before {
    width: 30px;
    height: 30px;
    left: -40px;
  }

  #app-header h2,
  #app-header span {
    font-size: 1.5rem;
  }

  #entries-form {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    position: relative;
  }

  #entries-form input,
  #entries-form select {
    padding: 10px;
    height: 50px;
    width: 100%;
  }

  #entries-form input::placeholder {
    font-size: 1.25rem;
    color: var(--placeholder);
  }

  input#form-description {
    grid-column: 1;
  }

  input#form-value {
    grid-column: 2;
  }

  select#form-type {
    grid-column: 3;
    font-size: 1.5rem;
  }

  button#submit {
    position: absolute;
    padding: 0;
    right: -100px;
  }
}

@keyframes showLeft {
  from {
    transform: translateX(-25px);
    filter: brightness(0.75);
    opacity: 0;
  }
  to {
    transform: initial;
    opacity: 1;
  }
}

@keyframes show {
  from {
    transform: scale(2.5);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (prefers-reduced-motion) {
  #app-header,
  #entries-form,
  #entries-container,
  .entry {
    opacity: 1;
    animation: none;
  }
}
